header{
    height: 100px;
    width: 1500px;
    background-color: white;
    display: inline-flex;
    padding-bottom: 30px;
    padding-top: 0%;
    
}



h1{
    font-size: small;
    padding: 45px;

}
.logo{
    text-align: left;
    display: inline-flex;
    
    
}

.planet{
    color: #03A696;
}
.skin{
    color:#EDAAB0 ;
}

.nav-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-left:10%;
    padding-right: 15%;
    
}




.navbar{
    font-size: small;
    padding: 50px;

    
   
    
    
}


.navbar {
    text-decoration: none;
    display: inline-block;
   
    
}


.img-1{
    height: 800px;
    width: 1800px;
}
ul {
    list-style: none;
    display: inline-block;
    
}

li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:#03A696 ;


}
a:link{
    text-decoration: none;
    color:#03A696 ;
    

}
a:active{
    text-decoration: none;
    

}
#imglist{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding-top: 70px;
}
.arrow {
    border: black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;

}
.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-img-container{
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    font-size: small;
}   
.bottom-left{
  position: absolute;
  bottom: 27px;
  left: 16px;
  



}
/*{
   
    background-color: #03A696;
    padding-bottom: 52px;
}









